{% extends 'base.html' %}

{% load i18n %}
{% block content %}
<br>
<h3>{% trans 'Labels list' %}</h3>

<br>
<a href="{% url 'label_creation' %}" class="btn btn-primary">{% trans 'Create a new label' %}</a>
<br>
<br>
{% if object_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Label' %}</th>
      <th>{% trans 'Description' %}</th>
      <th>{% trans 'Author' %}</th>
      <th>{% trans 'Created date' %}</th>
      <th>{% trans 'Change' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
      <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.description }}</td>
          <td>{{ object.author }}</td>
          <td>{{ object.created }}</td>
          <td>
              <a class="dropdown-item" href="{% url 'label_update' object.id %}">{% trans 'Change' %}</a>
              <a class="dropdown-item" href="{% url 'label_delete' object.id %}">{% trans 'Delete' %}</a>
          </td>
      </tr>

  {% endfor %}
  </tbody>
</table>
{% else %}
    <p>{% trans 'There are no labels.' %}</p>
{% endif %}

{% endblock %}