{% extends 'base.html' %}

{% load i18n %}
{% block content %}
      <br>
      <div class="container">
        <p class="lead">{% trans "Add your tasks and manage them in a very simple way" %}</p>
      </div>
      <br>
      {% if user.is_authenticated %}
      <div class="container">
        <br>
          <button type="button" class="btn btn-outline-primary" value="{% url 'status_creation' %}"><a href="{% url 'task_creation' %}" class="btn btn-primary">{% trans 'Create a new task' %}</a></button>
      </div>
        <br>
        <h2 class="mt-4">{% trans "My tasks" %}</h2>
        <br>
        <form method="get">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              {% for status in statuses %}
                <li>
                    <button type="submit"  class="btn btn-outline-primary" name="status" value="{{ status.id }}">{{ status }}</button>
                </li>
              {% endfor %}
        </ul>
        </form>
      {% if object_list %}

        {% for object in filter.qs %}
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                  <p class="card-text"><b>Author:</b> {{ object.author }} </p>
                <a href="#" class="btn btn-primary">{% trans 'Done' %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
            <p>{% trans 'There are no tasks.' %}</p>
        {% endif %}

      {% else %}
      {% endif %}


{% endblock %}
