{% extends 'base.html' %}


{% load i18n %}
{% block content %}
<br>
<h3>{% trans 'Tasks list' %}</h3>

<br>
<a href="{% url 'task_creation' %}" class="btn btn-primary">{% trans 'Create a new task' %}</a>
<br>
<br>
{% if object_list %}

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
        <div class="form-group"><label for="id_status">Статус</label><div class="ml-2 mr-3">{{ filter.form.status }}</div></div>
        <div class="form-group is-valid"><label for="id_executor">Исполнитель</label><div class="mr-3 ml-2">{{ filter.form.executor }}</div></div>
        <div class="form-group is-valid"><label for="id_labels">Метка</label><div class="mr-3 ml-2">{{ filter.form.labels }}</div></div>
        <div class="form-group"><div class="mr-3"><div class="form-check">{{ filter.form.boolean_author }}<label class="form-check-label" for="id_boolean_author">Только свои задачи</label></div></div></div>
        <input class="btn btn-primary" type="submit" value="Показать">
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Task' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Author' %}</th>
      <th>{% trans 'Executor' %}</th>
      <th>{% trans 'Created date' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for object in filter.qs %}
      <tr>
          <td><a href="{% url 'task_detail' object.id %}">{{ object.name }}</a></td>
          <td>{{ object.status }}</td>
          <td>{{ object.author }}</td>
          <td>{{ object.executor }}</td>
          <td>{{ object.created }}</td>
          <td>
              <a class="dropdown-item" href="{% url 'task_update' object.id %}">{% trans 'Change' %}</a>
              <a class="dropdown-item" href="{% url 'task_delete' object.id %}">{% trans 'Delete' %}</a>
          </td>
      </tr>

  {% endfor %}
  </tbody>
</table>

{% else %}
    <p>{% trans 'There are no tasks.' %}</p>
{% endif %}

{% endblock %}

