{% extends 'base.html' %}


{% load i18n %}
{% block content %}
<br>
<h3>{% trans 'Tasks list' %}</h3>

<br>
<a href="{% url 'task_creation' %}" class="btn btn-primary">{% trans 'Create a new task' %}</a>
<br>
<br>
{% if object_list %}

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      {{ filter.form }}
        <button class="btn btn-primary" type="submit">{% trans 'Show' %}</button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans 'Task' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Author' %}</th>
      <th>{% trans 'Executor' %}</th>
      <th>{% trans 'Date created' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for object in filter.qs %}
      <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.status }}</td>
          <td>{{ object.author }}</td>
          <td>{{ object.executor }}</td>
          <td>{{ object.created }}</td>
          <td>
              <a class="dropdown-item" href="{% url 'task_update' object.id %}">{% trans 'Change' %}</a>
              <a class="dropdown-item" href="{% url 'task_delete' object.id %}">{% trans 'Delete' %}</a>
          </td>
      </tr>

  {% endfor %}
  </tbody>
</table>

{% else %}
    <p>{% trans 'There are no tasks.' %}</p>
{% endif %}

{% endblock %}

