{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <main class="form-signin">
      <form method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal">{% trans 'Update profile information' %}</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div class="card">
            <div class="card-body">
            <a class="nav-link active" aria-current="page" href="{% url 'delete' user.id %}">{% trans "Delete my profile" %}</a>
            </div>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="{% trans 'Change' %}">
      </form>
    </main>
{% endblock %}
